
# 1. Pre-renumeration IDs
# Meade DSI
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="156c", ATTR{idProduct}=="0100", RUN+="/usr/local/sbin/indi-fxload --devnode $tempnode --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/meade-deepskyimager.hex"
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="156c", ATTR{idProduct}=="01ed", RUN+="/usr/local/sbin/indi-fxload --devnode $tempnode --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/meade-deepskyimager.hex"

# 2. Post-renumeration IDs
# Meade DSI
SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="156c", ATTR{idProduct}=="0101", MODE="0666", SYMLINK+="deepskyimager.%n"
