#===============================================================================
# Udev rules for QHYCCD cameras
#===============================================================================
# Initial Release
# Add rules for QHY2, QHY5, QHY6, QHY8
# Clive Rogers.  2 May 2009#
#
# Update 1
# Add rules for QHY10 and modified for libqhyccd
# YANG Xudong 21 Oct 2010
#
# Update 2
# Changed udev rules to get QHY163 and other FX3 cams working.
# Kept original rules at the end of rule's file.
# Jan Soldan, 2017-07-11
#
# Update 3
# Simplify rules
# Jasem Mutlaq, 2021-06-03

# Skip any action that is not add and any subsystem that is not USB
ACTION!="add", GOTO="qhy_end"
SUBSYSTEM!="usb", GOTO="qhy_end"
#===============================================================================
# 1. Load Firmware per device vendor and product ID
#===============================================================================
#Van Ooijen Technische Informatica
ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="081a", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/qhy/QHY5.HEX -s /lib/firmware/qhy/QHY5LOADER.HEX"
ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="0818", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/qhy/QHY5.HEX -s /lib/firmware/qhy/QHY5LOADER.HEX"
ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="2972", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/qhy/QHY8.HEX"
ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="29a2", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/qhy/QHY5.HEX -s /lib/firmware/qhy/QHY5LOADER.HEX"

# Orion SSAG
ATTRS{idVendor}=="1856", ATTRS{idProduct}=="0011", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/qhy/QHY5.HEX -s /lib/firmware/qhy/QHY5LOADER.HEX"

# CCD-Labs QGuider
ATTRS{idVendor}=="1781", ATTRS{idProduct}=="0c7c", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/qhy/QHY5.HEX -s /lib/firmware/qhy/QHY5LOADER.HEX"
ATTRS{idVendor}=="ff56", ATTRS{idProduct}=="00ff", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/qhy/QHY5.HEX -s /lib/firmware/qhy/QHY5LOADER.HEX"
# Other
ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="8613", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/qhy/QHY5.HEX -s /lib/firmware/qhy/QHY5LOADER.HEX"
ATTRS{idVendor}=="0547", ATTRS{idProduct}=="1002", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/qhy/QHY5LOADER.HEX"
ATTRS{idVendor}=="0547", ATTRS{idProduct}=="1002", RUN+="/bin/sleep 5"
ATTRS{idVendor}=="0547", ATTRS{idProduct}=="1002", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/qhy/QHY5.HEX"
ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="2970", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/qhy/QHY2PRO.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0482", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY5III482.img"

# QHY CLASSIC COOLED CCD (16:QHY2,QHY6,IMG2P,QHY7,QHY8,QHY8L,QHY8PRO,QHY9S,QHY10,QHY11,QHY12,QHY15,QHY16,QHY21,QHY22,QHY23)
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0412", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY2.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0259", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY6.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="2850", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/IMG2P.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="4022", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY7.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="6000", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY8.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="6004", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY8L.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="6002", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY8PRO.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="8300", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY9S.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="1000", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY10.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="1110", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY11.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="1200", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY12.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="1500", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY15.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="1600", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY16.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="6940", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY22.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="6740", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY21.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="8140", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY23.HEX"

#QHY IMG video cameras
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="b618", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/IMG0H.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="b285", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/IMG2S.HEX"

#QHY5 5II Guider
ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="296c", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/qhy/QHY5.HEX -s /lib/firmware/qhy/QHY5LOADER.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="296c", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/qhy/QHY5.HEX -s /lib/firmware/qhy/QHY5LOADER.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0901", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/qhy/QHY5.HEX -s /lib/firmware/qhy/QHY5LOADER.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="1002", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/qhy/QHY5.HEX -s /lib/firmware/qhy/QHY5LOADER.HEX"

ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0920", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/qhy/QHY5II.HEX"


#QHY OTHER CAMERA(4 QHY16000,POLEMASER,MINICAM5)
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="1610", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/qhy/QHY16000.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0940", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/POLEMASTER.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0930", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2 -I /lib/firmware/qhy/miniCam5.HEX"


#QHYCCD A series (3+6+2 QHY27,QHY28,QHY29   QHY90A,QHY695A,QHY814A,QHY16200A,QHY09000A,QHY16803A IC8300 IC16803
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="1650", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY27.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="1670", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY28.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="2950", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY29.HEX"

ATTRS{idVendor}=="1618", ATTRS{idProduct}=="8322", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY90A.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="6952", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY695A.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="a814", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY814A.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="1622", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY16200A.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="9000", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY09000A.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="1632", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/QHY16803A.HEX"

ATTRS{idVendor}=="1618", ATTRS{idProduct}=="8320", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/IC90A.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="8310", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/IC8300.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="1630", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/IC16803.HEX"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="1620", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx2lp -I /lib/firmware/qhy/IC16200A.HEX"

# QHYCCD 5III series (5:QHY5III174,QHY5III178,QHY5III185,QHY5III224,QHY5III290)
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0174", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY5III174.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0178", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY5III178.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0185", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY5III185.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0224", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY5III224.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0290", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY5III290.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0462", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY5III462.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0485", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY5III485.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0482", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY5III482.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0334", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY5III334.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0415", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY5III415.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0200", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY5III200.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0585", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY5III585.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0678", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY5III678.img"
ATTRS{idVendor}=="19b4", ATTRS{idProduct}=="0677", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/Origin678C.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0715", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY5III715.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0568", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY5III568.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0587", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/miniCam8.img"

#QHYCCD Scientific Camera (7:QHY42,QHY42PRO,QHY2020,QHY4040,QHY4040PRO,QHY6060,QHY411,QHY461)
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="4200", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY42.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="4202", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY42PRO.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="2020", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY2020.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="4040", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY4040.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="4042", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY4040PRO.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="6060", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY6060.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c413", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY411ERIS.img"
#ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c411", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY411.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c461", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY461.img"

#QHYCCD SMALL COLDMOS Camera (5:QHY174 QHY178 QHY290 QHY224 QHY550 QHY1253 QHY9701 QHY585)
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c174", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY174.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c178", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY178.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c290", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY290.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c224", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY224.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c550", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY550.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c253", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY1253.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="9701", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY9701.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c585", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY585.img"

#QHYCCD Medium COLDMOS Camera (9:QHY183,QHY163,QHY294,QHY165,QHY168,QHY247,QHY128,QHY367,QHY600,QHY530)
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c183", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY183.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c163", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY163.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c294", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY294.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c296", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY294PRO.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c165", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY165.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c167", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY168.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c247", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY247.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c128", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY128.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c12a", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY128PRO.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c369", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY367PRO.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c367", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY367.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c600", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY600.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c268", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY268.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0410", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY410.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c492", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY492.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c533", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY533.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0432", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY432.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0342", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY342.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0344", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY342PRO.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c990", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY990.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="d183", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY183A.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="d991", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY991.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c192", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY1920.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="0768", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY10768.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c992", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY992.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c487", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY487.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c661", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY661.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c811", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY811.img"
ATTRS{idVendor}=="1618", ATTRS{idProduct}=="c530", RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -t fx3 -I /lib/firmware/qhy/QHY530.img"

#===============================================================================
# 2. Make all devices accessible by the user by fixing the permission.
#===============================================================================
# QHY-Based camera by other vendors
ATTRS{idVendor}=="16c0", MODE="0666"
ATTRS{idVendor}=="1856", MODE="0666"
ATTRS{idVendor}=="1781", MODE="0666"
ATTRS{idVendor}=="04b4", MODE="0666"
ATTRS{idVendor}=="0547", MODE="0666"

# QHYCCD
ATTRS{idVendor}=="1618", MODE="0666"
ATTRS{idVendor}=="706d", MODE="0666"

LABEL="qhy_end"
