# Increase USBFS memory

# SBIG ST-7/8/9/10/2K cameras
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0d97", ATTR{idProduct}=="0001", \
RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -I /lib/firmware/sbigucam.hex"

# SBIG 4K camera
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0d97", ATTR{idProduct}=="0001", ATTRS{serial}=="3f980000.usb" \
RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -I /lib/firmware/sbigpcam.hex"

# SBIG ST-L cameras
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0d97", ATTR{idProduct}=="0002", \
RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -I /lib/firmware/sbiglcam.hex"

# SBIG ST-402/1603/3200/8300 cameras
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0d97", ATTR{idProduct}=="0003", \
RUN+="/usr/local/sbin/indi-fxload --devnode $env{DEVNAME} --busnum %E{BUSNUM} --devnum %E{DEVNUM} -I /lib/firmware/sbigfcam.hex -t fx2"

# Make all SBIG Cameras accessible post enumeration
SUBSYSTEM=="usb", ATTR{idVendor}=="0d97", MODE="0666"
